spark-backend/*.rbc
spark-backend/capybara-*.html
spark-backend/.rspec
spark-backend/public/system
spark-backend/coverage/
spark-backend/spec/tmp
spark-backend/*.orig
spark-backend/rerun.txt
spark-backend/pickle-email-*.html

# Ignore all logfiles and tempfiles.
spark-backend/log/*
spark-backend/tmp/*
!spark-backend/log/.keep
!spark-backend/tmp/.keep

# TODO Comment out this rule if you are OK with secrets being uploaded to the repo
spark-backend/config/initializers/secret_token.rb
spark-backend/config/master.key

# Only include if you have production secrets in this file, which is no longer a Rails default
# config/secrets.yml

# dotenv
# TODO Comment out this rule if environment variables can be committed
spark-backend/.env

## Environment normalization:
spark-backend/.bundle
spark-backend/vendor/bundle

# these should all be checked in to normalize the environment:
# Gemfile.lock, .ruby-version, .ruby-gemset

# unless supporting rvm < 1.11.0 or doing something fancy, ignore this:
spark-backend/.rvmrc

# if using bower-rails ignore default bower_components path bower.json files
spark-backend/vendor/assets/bower_components
spark-backend/*.bowerrc
spark-backend/bower.json

# Ignore pow environment settings
spark-backend/.powenv

# Ignore Byebug command history file.
spark-backend/.byebug_history

# Ignore node_modules
spark-backend/node_modules/

# Ignore precompiled javascript packs
spark-backend/public/packs
spark-backend/public/packs-test
spark-backend/public/assets

# Ignore yarn files
spark-backend/yarn-error.log
spark-backend/yarn-debug.log*
spark-backend/.yarn-integrity

# Ignore uploaded files in development
spark-backend/storage/*
!spark-backend/storage/.keep

# Ignore initial database.yml files
spark-backend/config/database.yml

# stuff that I have no idea if it matters or not
spark-backend/tmp/development_secret.txt
spark-backend/tmp/restart.txt
